.menuParent {
  position: relative;
  transition: 'all 0.8s ease';
}

.parentItem > h5 {
  text-align: left;
}

.menuChild {
  min-width: 250px;
  height: 100%;
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: #000;
  box-shadow: rgba(0, 10px, 0, 0.16) 0px 1px 4px;
}

.childItem > p {
  padding-inline: 12px;
  margin: 0;
}

.childItem > p {
  padding-inline: 12px;
  margin: 0;
}

.childItem:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 992px) {
  .menuChild {
    top: 100%;
    left: 0px;
    box-shadow: none;
  }
  .commentator_email {
    font-size: '14px';
  }
  .reply_content {
    font-size: '10px';
  }
  .documents_section {
    max-height: '520px';
  }
  .deleteIcon {
    margin-left: '20px';
  }
}
