@import url(./assets/css/bootstrap.min.css);
@import url(./assets/css/icons.min.css);
@import url(./assets/css/app.min.css);
@import url(./assets/css/custom.min.css);

.demo-editor {
  background-color: white;
  padding: 2px 10px;
  height: 20vh !important;
  border: 1px lightgray solid;
}

.demo-editor-small {
  background-color: white;
  padding: 2px 10px;
  height: 10vh !important;
  border: 1px lightgray solid;
  min-height: 100 !important;
}

.position-fixed-important {
  position: fixed !important;
}

.labelholder {
  position: relative;
}

.shrink-label {
  background-color: white;
  position: absolute;
  top: -8px;
  left: 9px;
  padding: 0 4px;
}

.profile-details-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #0e548f;
}
.btn .btn-light:hover {
  background-color: blue;
}
